body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 175, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12825 {
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:48px;
}
#u12826 {
  position:absolute;
  left:2px;
  top:16px;
  width:1300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:48px;
  background:inherit;
  background-color:rgba(4, 166, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12827 {
  position:absolute;
  left:65px;
  top:0px;
  width:260px;
  height:48px;
}
#u12828 {
  position:absolute;
  left:2px;
  top:16px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u12829 {
  position:absolute;
  left:77px;
  top:8px;
  width:35px;
  height:34px;
}
#u12830 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12831 {
  position:absolute;
  left:130px;
  top:11px;
  width:81px;
  height:23px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12832 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:979px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12833 {
  position:absolute;
  left:65px;
  top:58px;
  width:260px;
  height:979px;
}
#u12834 {
  position:absolute;
  left:2px;
  top:482px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12835_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:265px;
  height:10px;
}
#u12835 {
  position:absolute;
  left:65px;
  top:58px;
  width:260px;
  height:5px;
}
#u12836 {
  position:absolute;
  left:2px;
  top:-6px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12837 {
  position:absolute;
  left:65px;
  top:63px;
  width:260px;
  height:44px;
}
#u12838 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12839 {
  position:absolute;
  left:82px;
  top:73px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12840 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u12841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12841 {
  position:absolute;
  left:66px;
  top:107px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12842 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u12843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12843 {
  position:absolute;
  left:66px;
  top:156px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12844 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u12845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12845 {
  position:absolute;
  left:66px;
  top:205px;
  width:260px;
  height:44px;
}
#u12846 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12847 {
  position:absolute;
  left:83px;
  top:216px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12848 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u12849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12849 {
  position:absolute;
  left:66px;
  top:249px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12850 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u12851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12851 {
  position:absolute;
  left:65px;
  top:348px;
  width:260px;
  height:44px;
}
#u12852 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12853 {
  position:absolute;
  left:82px;
  top:359px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12854 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u12855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12855 {
  position:absolute;
  left:66px;
  top:392px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12856 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u12857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12857 {
  position:absolute;
  left:66px;
  top:442px;
  width:260px;
  height:44px;
}
#u12858 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12859 {
  position:absolute;
  left:83px;
  top:453px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12860 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u12861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12861 {
  position:absolute;
  left:66px;
  top:486px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12862 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u12863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12863 {
  position:absolute;
  left:66px;
  top:579px;
  width:260px;
  height:44px;
}
#u12864 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12865 {
  position:absolute;
  left:83px;
  top:590px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12866 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u12867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12867 {
  position:absolute;
  left:66px;
  top:623px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12868 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u12869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12869 {
  position:absolute;
  left:66px;
  top:722px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12870 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u12871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:859px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12871 {
  position:absolute;
  left:334px;
  top:58px;
  width:971px;
  height:859px;
}
#u12872 {
  position:absolute;
  left:2px;
  top:422px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12873 {
  position:absolute;
  left:335px;
  top:59px;
  width:969px;
  height:49px;
}
#u12874 {
  position:absolute;
  left:2px;
  top:16px;
  width:965px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12875 {
  position:absolute;
  left:66px;
  top:107px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12876 {
  position:absolute;
  left:66px;
  top:155px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12877 {
  position:absolute;
  left:66px;
  top:392px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12878 {
  position:absolute;
  left:66px;
  top:485px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12879 {
  position:absolute;
  left:149px;
  top:259px;
  width:20px;
  height:20px;
  color:#FF0000;
}
#u12880 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u12881 {
  position:absolute;
  left:66px;
  top:249px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#169BD5;
  text-align:left;
}
#u12882 {
  position:absolute;
  left:66px;
  top:535px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#169BD5;
  text-align:left;
}
#u12883 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u12884 {
  position:absolute;
  left:66px;
  top:535px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12885 {
  position:absolute;
  left:64px;
  top:771px;
  width:260px;
  height:44px;
}
#u12886 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12887 {
  position:absolute;
  left:81px;
  top:782px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12888 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u12889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12889 {
  position:absolute;
  left:66px;
  top:865px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12890 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u12891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12891 {
  position:absolute;
  left:66px;
  top:816px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12892 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u12893 {
  position:absolute;
  left:66px;
  top:721px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12894 {
  position:absolute;
  left:66px;
  top:816px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12895 {
  position:absolute;
  left:66px;
  top:298px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12896 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u12897 {
  position:absolute;
  left:66px;
  top:298px;
  width:258px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12898 {
  position:absolute;
  left:66px;
  top:672px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u12899 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u12900 {
  position:absolute;
  left:66px;
  top:672px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12901 {
  position:absolute;
  left:66px;
  top:622px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u12902 {
  position:absolute;
  left:335px;
  top:58px;
  width:118px;
  height:49px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u12903 {
  position:absolute;
  left:2px;
  top:15px;
  width:114px;
  word-wrap:break-word;
}
#u12904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:619px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12904 {
  position:absolute;
  left:1340px;
  top:58px;
  width:395px;
  height:619px;
  text-align:left;
}
#u12905 {
  position:absolute;
  left:2px;
  top:2px;
  width:391px;
  word-wrap:break-word;
}
#u12906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:931px;
  height:395px;
}
#u12906 {
  position:absolute;
  left:1837px;
  top:58px;
  width:931px;
  height:395px;
}
#u12907 {
  position:absolute;
  left:2px;
  top:190px;
  width:927px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3E9CFC;
}
#u12908 {
  position:absolute;
  left:368px;
  top:135px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3E9CFC;
}
#u12909 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u12910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12910 {
  position:absolute;
  left:435px;
  top:188px;
  width:134px;
  height:18px;
}
#u12911 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u12912_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:45px;
}
#u12912 {
  position:absolute;
  left:354px;
  top:126px;
  width:4px;
  height:40px;
}
#u12913 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12914 {
  position:absolute;
  left:354px;
  top:186px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12915 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12916 {
  position:absolute;
  left:741px;
  top:187px;
  width:87px;
  height:18px;
}
#u12917 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u12918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12918 {
  position:absolute;
  left:660px;
  top:185px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12919 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12920 {
  position:absolute;
  left:1028px;
  top:188px;
  width:87px;
  height:18px;
}
#u12921 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u12922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12922 {
  position:absolute;
  left:947px;
  top:186px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12923 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3E9CFC;
}
#u12924 {
  position:absolute;
  left:368px;
  top:523px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3E9CFC;
}
#u12925 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u12926_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:45px;
}
#u12926 {
  position:absolute;
  left:354px;
  top:514px;
  width:4px;
  height:40px;
}
#u12927 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12928 {
  position:absolute;
  left:354px;
  top:578px;
  width:872px;
  height:205px;
}
#u12929 {
  position:absolute;
  left:2px;
  top:94px;
  width:868px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:37px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12930 {
  position:absolute;
  left:368px;
  top:590px;
  width:844px;
  height:37px;
}
#u12931 {
  position:absolute;
  left:2px;
  top:10px;
  width:840px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12932 {
  position:absolute;
  left:386px;
  top:599px;
  width:59px;
  height:18px;
}
#u12933 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u12934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12934 {
  position:absolute;
  left:651px;
  top:599px;
  width:30px;
  height:18px;
}
#u12935 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u12936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12936 {
  position:absolute;
  left:798px;
  top:599px;
  width:73px;
  height:18px;
}
#u12937 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12938 {
  position:absolute;
  left:955px;
  top:599px;
  width:73px;
  height:18px;
}
#u12939 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u12940 {
  position:absolute;
  left:369px;
  top:636px;
  width:120px;
  height:120px;
}
#u12941 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12942 {
  position:absolute;
  left:499px;
  top:636px;
  width:87px;
  height:18px;
  color:#666666;
}
#u12943 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u12944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12944 {
  position:absolute;
  left:642px;
  top:661px;
  width:49px;
  height:18px;
  color:#666666;
}
#u12945 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12946 {
  position:absolute;
  left:820px;
  top:661px;
  width:29px;
  height:18px;
  color:#666666;
}
#u12947 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12948 {
  position:absolute;
  left:973px;
  top:661px;
  width:29px;
  height:18px;
  color:#666666;
}
#u12949 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12950 {
  position:absolute;
  left:1106px;
  top:599px;
  width:73px;
  height:18px;
}
#u12951 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12952 {
  position:absolute;
  left:1127px;
  top:661px;
  width:29px;
  height:18px;
  color:#666666;
}
#u12953 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12954 {
  position:absolute;
  left:435px;
  top:250px;
  width:138px;
  height:18px;
}
#u12955 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u12956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12956 {
  position:absolute;
  left:354px;
  top:248px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12957 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12958 {
  position:absolute;
  left:1028px;
  top:251px;
  width:44px;
  height:18px;
}
#u12959 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u12960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12960 {
  position:absolute;
  left:947px;
  top:250px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12961 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12962 {
  position:absolute;
  left:435px;
  top:306px;
  width:358px;
  height:18px;
}
#u12963 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  white-space:nowrap;
}
#u12964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12964 {
  position:absolute;
  left:354px;
  top:304px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12965 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3E9CFC;
}
#u12966 {
  position:absolute;
  left:368px;
  top:355px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3E9CFC;
}
#u12967 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u12968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12968 {
  position:absolute;
  left:435px;
  top:408px;
  width:67px;
  height:18px;
}
#u12969 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u12970_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:45px;
}
#u12970 {
  position:absolute;
  left:354px;
  top:346px;
  width:4px;
  height:40px;
}
#u12971 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12972 {
  position:absolute;
  left:354px;
  top:406px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12973 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12974 {
  position:absolute;
  left:741px;
  top:407px;
  width:30px;
  height:18px;
}
#u12975 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u12976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12976 {
  position:absolute;
  left:660px;
  top:405px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12977 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12978 {
  position:absolute;
  left:1028px;
  top:408px;
  width:89px;
  height:18px;
}
#u12979 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12980 {
  position:absolute;
  left:947px;
  top:406px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12981 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12982 {
  position:absolute;
  left:435px;
  top:464px;
  width:139px;
  height:18px;
}
#u12983 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u12984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12984 {
  position:absolute;
  left:354px;
  top:462px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12985 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3E9CFC;
}
#u12986 {
  position:absolute;
  left:368px;
  top:829px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3E9CFC;
}
#u12987 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u12988_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:9px;
  height:45px;
}
#u12988 {
  position:absolute;
  left:354px;
  top:820px;
  width:4px;
  height:40px;
}
#u12989 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0000FF;
}
#u12990 {
  position:absolute;
  left:354px;
  top:890px;
  width:83px;
  height:18px;
  text-decoration:underline;
  color:#0000FF;
}
#u12991 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u12992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0000FF;
}
#u12992 {
  position:absolute;
  left:515px;
  top:890px;
  width:82px;
  height:18px;
  text-decoration:underline;
  color:#0000FF;
}
#u12993 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u12994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12994 {
  position:absolute;
  left:741px;
  top:251px;
  width:138px;
  height:18px;
}
#u12995 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u12996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12996 {
  position:absolute;
  left:660px;
  top:249px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12997 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12998_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:107px;
  height:31px;
}
#u12998 {
  position:absolute;
  left:1745px;
  top:249px;
  width:92px;
  height:5px;
}
#u12999 {
  position:absolute;
  left:2px;
  top:-5px;
  width:88px;
  word-wrap:break-word;
}
