body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:897px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10035 {
  position:absolute;
  left:0px;
  top:68px;
}
#u10035_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:897px;
  height:950px;
  background-image:none;
}
#u10035_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:86px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u10037 {
  position:absolute;
  left:402px;
  top:864px;
  width:29px;
  height:86px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u10038 {
  position:absolute;
  left:0px;
  top:35px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:67px;
}
#u10039 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:67px;
}
#u10040 {
  position:absolute;
  left:2px;
  top:26px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:863px;
}
#u10041 {
  position:absolute;
  left:0px;
  top:67px;
  width:31px;
  height:863px;
}
#u10042 {
  position:absolute;
  left:2px;
  top:424px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:66px;
}
#u10043 {
  position:absolute;
  left:31px;
  top:864px;
  width:370px;
  height:66px;
}
#u10044 {
  position:absolute;
  left:2px;
  top:25px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:863px;
}
#u10045 {
  position:absolute;
  left:401px;
  top:67px;
  width:31px;
  height:863px;
}
#u10046 {
  position:absolute;
  left:2px;
  top:424px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u10047 {
  position:absolute;
  left:24px;
  top:27px;
  width:375px;
  height:44px;
}
#u10048 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10049 {
  position:absolute;
  left:30px;
  top:58px;
  width:371px;
  height:45px;
}
#u10050 {
  position:absolute;
  left:2px;
  top:15px;
  width:367px;
  word-wrap:break-word;
}
#u10051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10051 {
  position:absolute;
  left:38px;
  top:69px;
  width:20px;
  height:20px;
  color:#E4E4E4;
}
#u10052 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10053 {
  position:absolute;
  left:36px;
  top:119px;
}
#u10053_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:355px;
  height:430px;
  background-image:none;
}
#u10053_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u10054 {
  position:absolute;
  left:65px;
  top:29px;
  width:175px;
  height:35px;
  color:#CCCCCC;
}
#u10055 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u10056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u10056 {
  position:absolute;
  left:5px;
  top:10px;
  width:50px;
  height:48px;
}
#u10057 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10058 {
  position:absolute;
  left:65px;
  top:0px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10059 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u10060 {
  position:absolute;
  left:2px;
  top:75px;
  width:353px;
  height:1px;
}
#u10061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10062 {
  position:absolute;
  left:0px;
  top:390px;
  width:351px;
  height:40px;
}
#u10063 {
  position:absolute;
  left:2px;
  top:12px;
  width:347px;
  word-wrap:break-word;
}
#u10064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:245px;
}
#u10064 {
  position:absolute;
  left:54px;
  top:105px;
  width:250px;
  height:245px;
}
#u10065 {
  position:absolute;
  left:2px;
  top:114px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10053_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:355px;
  height:430px;
  visibility:hidden;
  background-image:none;
}
#u10053_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u10066 {
  position:absolute;
  left:65px;
  top:29px;
  width:175px;
  height:35px;
  color:#CCCCCC;
}
#u10067 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u10068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u10068 {
  position:absolute;
  left:5px;
  top:10px;
  width:50px;
  height:48px;
}
#u10069 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10070 {
  position:absolute;
  left:65px;
  top:0px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10071 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u10072 {
  position:absolute;
  left:2px;
  top:75px;
  width:353px;
  height:1px;
}
#u10073 {
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10074 {
  position:absolute;
  left:0px;
  top:390px;
  width:351px;
  height:40px;
}
#u10075 {
  position:absolute;
  left:2px;
  top:12px;
  width:347px;
  word-wrap:break-word;
}
#u10076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:245px;
}
#u10076 {
  position:absolute;
  left:54px;
  top:105px;
  width:250px;
  height:245px;
}
#u10077 {
  position:absolute;
  left:2px;
  top:114px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:431px;
}
#u10078 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:430px;
}
#u10079 {
  position:absolute;
  left:2px;
  top:207px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10080 {
  position:absolute;
  left:146px;
  top:67px;
  width:68px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10081 {
  position:absolute;
  left:214px;
  top:67px;
  width:68px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10082_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:82px;
  height:19px;
}
#u10082p000 {
  position:absolute;
  left:-2px;
  top:-2px;
  width:76px;
  height:4px;
}
#u10082p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u10082p001 {
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10082p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  height:22px;
}
#u10082.compound {
  width:0px;
  height:0px;
}
#u10082 {
  position:absolute;
  left:401px;
  top:529px;
  width:73px;
  height:1px;
}
#u10083 {
  position:absolute;
  left:2px;
  top:-8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10084 {
  position:absolute;
  left:484px;
  top:520px;
  width:71px;
  height:18px;
  color:#FF0000;
}
#u10085 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:674px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u10086 {
  position:absolute;
  left:597px;
  top:0px;
  width:300px;
  height:674px;
  text-align:left;
}
#u10087 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u10035_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:432px;
  height:950px;
  visibility:hidden;
  background-image:none;
}
#u10035_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10088 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:86px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u10089 {
  position:absolute;
  left:402px;
  top:864px;
  width:29px;
  height:86px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u10090 {
  position:absolute;
  left:0px;
  top:35px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:67px;
}
#u10091 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:67px;
}
#u10092 {
  position:absolute;
  left:2px;
  top:26px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:863px;
}
#u10093 {
  position:absolute;
  left:0px;
  top:67px;
  width:31px;
  height:863px;
}
#u10094 {
  position:absolute;
  left:2px;
  top:424px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:66px;
}
#u10095 {
  position:absolute;
  left:31px;
  top:864px;
  width:370px;
  height:66px;
}
#u10096 {
  position:absolute;
  left:2px;
  top:25px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:863px;
}
#u10097 {
  position:absolute;
  left:401px;
  top:67px;
  width:31px;
  height:863px;
}
#u10098 {
  position:absolute;
  left:2px;
  top:424px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u10099 {
  position:absolute;
  left:24px;
  top:27px;
  width:375px;
  height:44px;
}
#u10100 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10101 {
  position:absolute;
  left:30px;
  top:58px;
  width:371px;
  height:45px;
}
#u10102 {
  position:absolute;
  left:2px;
  top:15px;
  width:367px;
  word-wrap:break-word;
}
#u10103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10103 {
  position:absolute;
  left:38px;
  top:69px;
  width:20px;
  height:20px;
  color:#E4E4E4;
}
#u10104 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10105 {
  position:absolute;
  left:36px;
  top:119px;
}
#u10105_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:355px;
  height:406px;
  background-image:none;
}
#u10105_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u10106 {
  position:absolute;
  left:65px;
  top:29px;
  width:175px;
  height:35px;
  color:#CCCCCC;
}
#u10107 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u10108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u10108 {
  position:absolute;
  left:5px;
  top:10px;
  width:50px;
  height:48px;
}
#u10109 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10110 {
  position:absolute;
  left:65px;
  top:0px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10111 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u10112 {
  position:absolute;
  left:2px;
  top:75px;
  width:353px;
  height:1px;
}
#u10113 {
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:245px;
}
#u10114 {
  position:absolute;
  left:54px;
  top:105px;
  width:250px;
  height:245px;
}
#u10115 {
  position:absolute;
  left:2px;
  top:114px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u10116 {
  position:absolute;
  left:68px;
  top:384px;
  width:222px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u10117 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u10105_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:355px;
  height:430px;
  visibility:hidden;
  background-image:none;
}
#u10105_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u10118 {
  position:absolute;
  left:65px;
  top:29px;
  width:175px;
  height:35px;
  color:#CCCCCC;
}
#u10119 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u10120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u10120 {
  position:absolute;
  left:5px;
  top:10px;
  width:50px;
  height:48px;
}
#u10121 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10122 {
  position:absolute;
  left:65px;
  top:0px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10123 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u10124 {
  position:absolute;
  left:2px;
  top:75px;
  width:353px;
  height:1px;
}
#u10125 {
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10126 {
  position:absolute;
  left:0px;
  top:390px;
  width:351px;
  height:40px;
}
#u10127 {
  position:absolute;
  left:2px;
  top:12px;
  width:347px;
  word-wrap:break-word;
}
#u10128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:245px;
}
#u10128 {
  position:absolute;
  left:54px;
  top:105px;
  width:250px;
  height:245px;
}
#u10129 {
  position:absolute;
  left:2px;
  top:114px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:431px;
}
#u10130 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:430px;
}
#u10131 {
  position:absolute;
  left:2px;
  top:207px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10132 {
  position:absolute;
  left:146px;
  top:67px;
  width:68px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10133 {
  position:absolute;
  left:214px;
  top:67px;
  width:68px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u10134 {
  position:absolute;
  left:11px;
  top:12px;
  width:93px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u10135 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u10136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u10136 {
  position:absolute;
  left:151px;
  top:12px;
  width:93px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u10137 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u10138 {
  position:absolute;
  left:5px;
  top:-2px;
  width:106px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10139 {
  position:absolute;
  left:145px;
  top:-2px;
  width:106px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
