body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:432px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u38618 {
  position:absolute;
  left:141px;
  top:174px;
  width:147px;
  height:19px;
  font-size:16px;
}
#u38619 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u38620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u38620 {
  position:absolute;
  left:71px;
  top:300px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u38621 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u38622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u38622 {
  position:absolute;
  left:71px;
  top:371px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u38623 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u38624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:2px;
}
#u38624 {
  position:absolute;
  left:155px;
  top:318px;
  width:226px;
  height:1px;
}
#u38625 {
  position:absolute;
  left:2px;
  top:-8px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:2px;
}
#u38626 {
  position:absolute;
  left:155px;
  top:389px;
  width:128px;
  height:1px;
}
#u38627 {
  position:absolute;
  left:2px;
  top:-8px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u38628 {
  position:absolute;
  left:71px;
  top:439px;
  width:310px;
  height:40px;
  font-size:16px;
}
#u38629 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u38630 {
  position:absolute;
  left:155px;
  top:300px;
  width:226px;
  height:25px;
}
#u38630_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38631 {
  position:absolute;
  left:155px;
  top:364px;
  width:226px;
  height:25px;
}
#u38631_input {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u38632 {
  position:absolute;
  left:50px;
  top:89px;
  width:20px;
  height:21px;
}
#u38633 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38634 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:80px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u38635 {
  position:absolute;
  left:402px;
  top:802px;
  width:29px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u38636 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:62px;
}
#u38637 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:62px;
}
#u38638 {
  position:absolute;
  left:2px;
  top:23px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:801px;
}
#u38639 {
  position:absolute;
  left:0px;
  top:62px;
  width:31px;
  height:801px;
}
#u38640 {
  position:absolute;
  left:2px;
  top:392px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:61px;
}
#u38641 {
  position:absolute;
  left:31px;
  top:802px;
  width:370px;
  height:61px;
}
#u38642 {
  position:absolute;
  left:2px;
  top:22px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:801px;
}
#u38643 {
  position:absolute;
  left:401px;
  top:62px;
  width:31px;
  height:801px;
}
#u38644 {
  position:absolute;
  left:2px;
  top:392px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u38645 {
  position:absolute;
  left:24px;
  top:27px;
  width:375px;
  height:44px;
}
#u38646 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38647 {
  position:absolute;
  left:322px;
  top:494px;
  width:59px;
  height:18px;
}
#u38648 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
