body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1676px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 175, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13896 {
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:48px;
}
#u13897 {
  position:absolute;
  left:2px;
  top:16px;
  width:1300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:48px;
  background:inherit;
  background-color:rgba(4, 166, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13898 {
  position:absolute;
  left:65px;
  top:0px;
  width:260px;
  height:48px;
}
#u13899 {
  position:absolute;
  left:2px;
  top:16px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u13900 {
  position:absolute;
  left:77px;
  top:8px;
  width:35px;
  height:34px;
}
#u13901 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13902 {
  position:absolute;
  left:130px;
  top:11px;
  width:81px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13903 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:979px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13904 {
  position:absolute;
  left:65px;
  top:58px;
  width:260px;
  height:979px;
}
#u13905 {
  position:absolute;
  left:2px;
  top:482px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13906_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:265px;
  height:10px;
}
#u13906 {
  position:absolute;
  left:65px;
  top:58px;
  width:260px;
  height:5px;
}
#u13907 {
  position:absolute;
  left:2px;
  top:-6px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13908 {
  position:absolute;
  left:65px;
  top:63px;
  width:260px;
  height:44px;
}
#u13909 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13910 {
  position:absolute;
  left:82px;
  top:73px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13911 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u13912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13912 {
  position:absolute;
  left:66px;
  top:107px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13913 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u13914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13914 {
  position:absolute;
  left:66px;
  top:156px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13915 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u13916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13916 {
  position:absolute;
  left:66px;
  top:205px;
  width:260px;
  height:44px;
}
#u13917 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13918 {
  position:absolute;
  left:83px;
  top:216px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13919 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u13920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13920 {
  position:absolute;
  left:66px;
  top:249px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13921 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u13922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13922 {
  position:absolute;
  left:65px;
  top:348px;
  width:260px;
  height:44px;
}
#u13923 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13924 {
  position:absolute;
  left:82px;
  top:359px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13925 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u13926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13926 {
  position:absolute;
  left:66px;
  top:392px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13927 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u13928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13928 {
  position:absolute;
  left:66px;
  top:442px;
  width:260px;
  height:44px;
}
#u13929 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13930 {
  position:absolute;
  left:83px;
  top:453px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13931 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u13932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13932 {
  position:absolute;
  left:66px;
  top:486px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13933 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u13934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13934 {
  position:absolute;
  left:66px;
  top:579px;
  width:260px;
  height:44px;
}
#u13935 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13936 {
  position:absolute;
  left:83px;
  top:590px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13937 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u13938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13938 {
  position:absolute;
  left:66px;
  top:623px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13939 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u13940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13940 {
  position:absolute;
  left:66px;
  top:722px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13941 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u13942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:859px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13942 {
  position:absolute;
  left:334px;
  top:58px;
  width:971px;
  height:859px;
}
#u13943 {
  position:absolute;
  left:2px;
  top:422px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13944 {
  position:absolute;
  left:335px;
  top:59px;
  width:969px;
  height:49px;
}
#u13945 {
  position:absolute;
  left:2px;
  top:16px;
  width:965px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13946 {
  position:absolute;
  left:66px;
  top:107px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13947 {
  position:absolute;
  left:66px;
  top:155px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13948 {
  position:absolute;
  left:66px;
  top:392px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13949 {
  position:absolute;
  left:66px;
  top:485px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13950 {
  position:absolute;
  left:149px;
  top:259px;
  width:20px;
  height:20px;
  color:#FF0000;
}
#u13951 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u13952 {
  position:absolute;
  left:66px;
  top:249px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#169BD5;
  text-align:left;
}
#u13953 {
  position:absolute;
  left:66px;
  top:535px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#169BD5;
  text-align:left;
}
#u13954 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u13955 {
  position:absolute;
  left:66px;
  top:535px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:44px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13956 {
  position:absolute;
  left:64px;
  top:771px;
  width:260px;
  height:44px;
}
#u13957 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13958 {
  position:absolute;
  left:81px;
  top:782px;
  width:86px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13959 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u13960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13960 {
  position:absolute;
  left:66px;
  top:865px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13961 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u13962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13962 {
  position:absolute;
  left:66px;
  top:816px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13963 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u13964 {
  position:absolute;
  left:66px;
  top:721px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13965 {
  position:absolute;
  left:66px;
  top:816px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13966 {
  position:absolute;
  left:66px;
  top:298px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13967 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u13968 {
  position:absolute;
  left:66px;
  top:298px;
  width:258px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13969 {
  position:absolute;
  left:66px;
  top:672px;
  width:258px;
  height:49px;
  font-size:16px;
  color:#00AFF0;
  text-align:left;
}
#u13970 {
  position:absolute;
  left:2px;
  top:15px;
  width:254px;
  word-wrap:break-word;
}
#u13971 {
  position:absolute;
  left:66px;
  top:671px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13972 {
  position:absolute;
  left:66px;
  top:622px;
  width:258px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u13973 {
  position:absolute;
  left:334px;
  top:59px;
  width:118px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u13974 {
  position:absolute;
  left:2px;
  top:15px;
  width:114px;
  word-wrap:break-word;
}
#u13975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:686px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13975 {
  position:absolute;
  left:347px;
  top:121px;
  width:888px;
  height:686px;
}
#u13976 {
  position:absolute;
  left:2px;
  top:335px;
  width:884px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13977 {
  position:absolute;
  left:359px;
  top:134px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13978 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u13979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:2px;
}
#u13979 {
  position:absolute;
  left:359px;
  top:178px;
  width:868px;
  height:1px;
}
#u13980 {
  position:absolute;
  left:2px;
  top:-8px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:423px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u13981 {
  position:absolute;
  left:1336px;
  top:0px;
  width:340px;
  height:423px;
  text-align:left;
}
#u13982 {
  position:absolute;
  left:2px;
  top:2px;
  width:336px;
  word-wrap:break-word;
}
#u13983 {
  position:absolute;
  left:468px;
  top:138px;
  width:100px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13984 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13983_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13985 {
  position:absolute;
  left:568px;
  top:138px;
  width:100px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13986 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13985_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13987 {
  position:absolute;
  left:359px;
  top:199px;
  width:145px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13988 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u13989 {
  position:absolute;
  left:504px;
  top:201px;
  width:300px;
  height:22px;
}
#u13989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13989_input:disabled {
  color:grayText;
}
#u13990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:7px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13990 {
  position:absolute;
  left:350px;
  top:272px;
  width:884px;
  height:7px;
}
#u13991 {
  position:absolute;
  left:2px;
  top:-4px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u13992 {
  position:absolute;
  left:359px;
  top:237px;
  width:701px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u13993 {
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  white-space:nowrap;
}
#u13994 {
  position:absolute;
  left:359px;
  top:292px;
  width:701px;
  height:396px;
  overflow:hidden;
}
#u13994_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:396px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13994_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13995 {
  position:absolute;
  left:0px;
  top:354px;
  width:115px;
  height:42px;
}
#u13996 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u13997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13997 {
  position:absolute;
  left:167px;
  top:354px;
  width:115px;
  height:42px;
}
#u13998 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u13999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u13999 {
  position:absolute;
  left:0px;
  top:49px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14000 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14001 {
  position:absolute;
  left:0px;
  top:100px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14002 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u14003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14003 {
  position:absolute;
  left:109px;
  top:49px;
  width:347px;
  height:25px;
  text-align:left;
}
#u14004 {
  position:absolute;
  left:2px;
  top:4px;
  width:343px;
  word-wrap:break-word;
}
#u14005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14005 {
  position:absolute;
  left:109px;
  top:100px;
  width:347px;
  height:25px;
  text-align:left;
}
#u14006 {
  position:absolute;
  left:2px;
  top:5px;
  width:343px;
  word-wrap:break-word;
}
#u14007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14007 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14008 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14009 {
  position:absolute;
  left:109px;
  top:2px;
  width:347px;
  height:22px;
}
#u14009_input {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14009_input:disabled {
  color:grayText;
}
#u14010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14010 {
  position:absolute;
  left:0px;
  top:150px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14011 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u14012 {
  position:absolute;
  left:109px;
  top:150px;
  width:347px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u14013 {
  position:absolute;
  left:2px;
  top:4px;
  width:343px;
  word-wrap:break-word;
}
#u13994_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:396px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13994_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14014 {
  position:absolute;
  left:0px;
  top:425px;
  width:115px;
  height:42px;
}
#u14015 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u14016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14016 {
  position:absolute;
  left:167px;
  top:425px;
  width:115px;
  height:42px;
}
#u14017 {
  position:absolute;
  left:2px;
  top:14px;
  width:111px;
  word-wrap:break-word;
}
#u14018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14018 {
  position:absolute;
  left:0px;
  top:49px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14019 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14020 {
  position:absolute;
  left:0px;
  top:100px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14021 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u14022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14022 {
  position:absolute;
  left:109px;
  top:49px;
  width:347px;
  height:25px;
  text-align:left;
}
#u14023 {
  position:absolute;
  left:2px;
  top:4px;
  width:343px;
  word-wrap:break-word;
}
#u14024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14024 {
  position:absolute;
  left:109px;
  top:100px;
  width:347px;
  height:25px;
  text-align:left;
}
#u14025 {
  position:absolute;
  left:2px;
  top:5px;
  width:343px;
  word-wrap:break-word;
}
#u14026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14026 {
  position:absolute;
  left:0px;
  top:148px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14027 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14028 {
  position:absolute;
  left:0px;
  top:281px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14029 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u14030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u14030 {
  position:absolute;
  left:109px;
  top:284px;
  width:130px;
  height:20px;
  color:#999999;
}
#u14031 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u14032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u14032 {
  position:absolute;
  left:109px;
  top:148px;
  width:347px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u14033 {
  position:absolute;
  left:2px;
  top:4px;
  width:343px;
  word-wrap:break-word;
}
#u14034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14034 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14035 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u14036 {
  position:absolute;
  left:109px;
  top:2px;
  width:347px;
  height:22px;
}
#u14036_input {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14036_input:disabled {
  color:grayText;
}
#u14037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14037 {
  position:absolute;
  left:0px;
  top:190px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14038 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u14039 {
  position:absolute;
  left:109px;
  top:190px;
  width:347px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u14040 {
  position:absolute;
  left:2px;
  top:4px;
  width:343px;
  word-wrap:break-word;
}
#u14041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14041 {
  position:absolute;
  left:0px;
  top:232px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14042 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u14043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u14043 {
  position:absolute;
  left:109px;
  top:232px;
  width:347px;
  height:25px;
  color:#999999;
  text-align:left;
}
#u14044 {
  position:absolute;
  left:2px;
  top:4px;
  width:343px;
  word-wrap:break-word;
}
#u14045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u14045 {
  position:absolute;
  left:252px;
  top:279px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14046 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u14047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14047 {
  position:absolute;
  left:0px;
  top:331px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u14048 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u14049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14049 {
  position:absolute;
  left:109px;
  top:324px;
  width:173px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14050 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
