body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:966px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5949 {
  position:absolute;
  left:0px;
  top:65px;
  width:966px;
  height:950px;
  overflow:hidden;
}
#u5949_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:950px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5949_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:86px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u5951 {
  position:absolute;
  left:402px;
  top:864px;
  width:29px;
  height:86px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u5952 {
  position:absolute;
  left:0px;
  top:35px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:67px;
}
#u5953 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:67px;
}
#u5954 {
  position:absolute;
  left:2px;
  top:26px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:863px;
}
#u5955 {
  position:absolute;
  left:0px;
  top:67px;
  width:31px;
  height:863px;
}
#u5956 {
  position:absolute;
  left:2px;
  top:424px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:66px;
}
#u5957 {
  position:absolute;
  left:31px;
  top:864px;
  width:370px;
  height:66px;
}
#u5958 {
  position:absolute;
  left:2px;
  top:25px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:863px;
}
#u5959 {
  position:absolute;
  left:401px;
  top:67px;
  width:31px;
  height:863px;
}
#u5960 {
  position:absolute;
  left:2px;
  top:424px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u5961 {
  position:absolute;
  left:24px;
  top:27px;
  width:375px;
  height:44px;
}
#u5962 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5963 {
  position:absolute;
  left:30px;
  top:58px;
  width:371px;
  height:45px;
}
#u5964 {
  position:absolute;
  left:2px;
  top:15px;
  width:367px;
  word-wrap:break-word;
}
#u5965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5965 {
  position:absolute;
  left:38px;
  top:69px;
  width:20px;
  height:20px;
  color:#E4E4E4;
}
#u5966 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u5967 {
  position:absolute;
  left:41px;
  top:248px;
  width:100px;
  height:100px;
}
#u5968 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u5969 {
  position:absolute;
  left:151px;
  top:248px;
  width:240px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u5970 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u5971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5971 {
  position:absolute;
  left:101px;
  top:159px;
  width:109px;
  height:18px;
  color:#CCCCCC;
}
#u5972 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u5973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5973 {
  position:absolute;
  left:151px;
  top:330px;
  width:31px;
  height:18px;
  color:#CCCCCC;
}
#u5974 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u5975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u5975 {
  position:absolute;
  left:41px;
  top:129px;
  width:50px;
  height:48px;
}
#u5976 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5977 {
  position:absolute;
  left:101px;
  top:119px;
  width:181px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5978 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u5979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u5979 {
  position:absolute;
  left:38px;
  top:194px;
  width:353px;
  height:1px;
}
#u5980 {
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5981 {
  position:absolute;
  left:38px;
  top:210px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5982 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5983 {
  position:absolute;
  left:151px;
  top:289px;
  width:87px;
  height:18px;
  color:#CCCCCC;
}
#u5984 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u5985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u5985 {
  position:absolute;
  left:41px;
  top:368px;
  width:353px;
  height:1px;
}
#u5986 {
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5987 {
  position:absolute;
  left:41px;
  top:384px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5988 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5989 {
  position:absolute;
  left:41px;
  top:424px;
  width:174px;
  height:18px;
}
#u5990 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u5991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5991 {
  position:absolute;
  left:41px;
  top:470px;
  width:104px;
  height:18px;
}
#u5992 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u5993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5993 {
  position:absolute;
  left:41px;
  top:512px;
  width:104px;
  height:18px;
}
#u5994 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u5995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:215px;
}
#u5995 {
  position:absolute;
  left:39px;
  top:540px;
  width:360px;
  height:214px;
}
#u5996 {
  position:absolute;
  left:2px;
  top:100px;
  width:356px;
  word-wrap:break-word;
}
#u5997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5997 {
  position:absolute;
  left:41px;
  top:819px;
  width:351px;
  height:40px;
}
#u5998 {
  position:absolute;
  left:2px;
  top:12px;
  width:347px;
  word-wrap:break-word;
}
#u5999_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:82px;
  height:19px;
}
#u5999p000 {
  position:absolute;
  left:-2px;
  top:-2px;
  width:76px;
  height:4px;
}
#u5999p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u5999p001 {
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5999p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  height:22px;
}
#u5999.compound {
  width:0px;
  height:0px;
}
#u5999 {
  position:absolute;
  left:369px;
  top:129px;
  width:73px;
  height:1px;
}
#u6000 {
  position:absolute;
  left:2px;
  top:-8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6001 {
  position:absolute;
  left:452px;
  top:120px;
  width:71px;
  height:18px;
  color:#FF0000;
}
#u6002 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6003 {
  position:absolute;
  left:307px;
  top:278px;
  width:84px;
  height:29px;
}
#u6004 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u6005_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:82px;
  height:19px;
}
#u6005p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:76px;
  height:4px;
}
#u6005p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u6005p001 {
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6005p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6005.compound {
  width:0px;
  height:0px;
}
#u6005 {
  position:absolute;
  left:369px;
  top:294px;
  width:73px;
  height:1px;
}
#u6006 {
  position:absolute;
  left:2px;
  top:-8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6007 {
  position:absolute;
  left:452px;
  top:285px;
  width:72px;
  height:18px;
  color:#FF0000;
}
#u6008 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u6009_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:82px;
  height:19px;
}
#u6009p000 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:76px;
  height:4px;
}
#u6009p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:78px;
  height:6px;
}
#u6009p001 {
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6009p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u6009.compound {
  width:0px;
  height:0px;
}
#u6009 {
  position:absolute;
  left:358px;
  top:839px;
  width:73px;
  height:1px;
}
#u6010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6011 {
  position:absolute;
  left:441px;
  top:830px;
  width:102px;
  height:18px;
  color:#FF0000;
}
#u6012 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u6013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:674px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6013 {
  position:absolute;
  left:597px;
  top:0px;
  width:300px;
  height:674px;
  text-align:left;
}
#u6014 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u5949_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:950px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5949_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:86px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u6016 {
  position:absolute;
  left:402px;
  top:864px;
  width:29px;
  height:86px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u6017 {
  position:absolute;
  left:0px;
  top:35px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:67px;
}
#u6018 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:67px;
}
#u6019 {
  position:absolute;
  left:2px;
  top:26px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:863px;
}
#u6020 {
  position:absolute;
  left:0px;
  top:67px;
  width:31px;
  height:863px;
}
#u6021 {
  position:absolute;
  left:2px;
  top:424px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:66px;
}
#u6022 {
  position:absolute;
  left:31px;
  top:864px;
  width:370px;
  height:66px;
}
#u6023 {
  position:absolute;
  left:2px;
  top:25px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:863px;
}
#u6024 {
  position:absolute;
  left:401px;
  top:67px;
  width:31px;
  height:863px;
}
#u6025 {
  position:absolute;
  left:2px;
  top:424px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u6026 {
  position:absolute;
  left:24px;
  top:27px;
  width:375px;
  height:44px;
}
#u6027 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6028 {
  position:absolute;
  left:30px;
  top:58px;
  width:371px;
  height:45px;
}
#u6029 {
  position:absolute;
  left:2px;
  top:15px;
  width:367px;
  word-wrap:break-word;
}
#u6030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6030 {
  position:absolute;
  left:38px;
  top:69px;
  width:20px;
  height:20px;
  color:#E4E4E4;
}
#u6031 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6032 {
  position:absolute;
  left:41px;
  top:248px;
  width:100px;
  height:100px;
}
#u6033 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u6034 {
  position:absolute;
  left:151px;
  top:248px;
  width:240px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u6035 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u6036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u6036 {
  position:absolute;
  left:101px;
  top:159px;
  width:174px;
  height:18px;
  color:#CCCCCC;
}
#u6037 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u6038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u6038 {
  position:absolute;
  left:151px;
  top:330px;
  width:31px;
  height:18px;
  color:#CCCCCC;
}
#u6039 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u6040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u6040 {
  position:absolute;
  left:41px;
  top:129px;
  width:50px;
  height:48px;
}
#u6041 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6042 {
  position:absolute;
  left:101px;
  top:119px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6043 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u6044 {
  position:absolute;
  left:38px;
  top:194px;
  width:353px;
  height:1px;
}
#u6045 {
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6046 {
  position:absolute;
  left:38px;
  top:210px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6047 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u6048 {
  position:absolute;
  left:151px;
  top:289px;
  width:87px;
  height:18px;
  color:#CCCCCC;
}
#u6049 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u6050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u6050 {
  position:absolute;
  left:41px;
  top:368px;
  width:353px;
  height:1px;
}
#u6051 {
  position:absolute;
  left:2px;
  top:-8px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6052 {
  position:absolute;
  left:41px;
  top:384px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6053 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6054 {
  position:absolute;
  left:41px;
  top:424px;
  width:174px;
  height:18px;
}
#u6055 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u6056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6056 {
  position:absolute;
  left:41px;
  top:470px;
  width:104px;
  height:18px;
}
#u6057 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u6058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6058 {
  position:absolute;
  left:41px;
  top:512px;
  width:104px;
  height:18px;
}
#u6059 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u6060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:215px;
}
#u6060 {
  position:absolute;
  left:39px;
  top:540px;
  width:360px;
  height:214px;
}
#u6061 {
  position:absolute;
  left:2px;
  top:100px;
  width:356px;
  word-wrap:break-word;
}
#u6062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6062 {
  position:absolute;
  left:307px;
  top:278px;
  width:84px;
  height:29px;
}
#u6063 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u6064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:674px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6064 {
  position:absolute;
  left:597px;
  top:0px;
  width:300px;
  height:674px;
  text-align:left;
}
#u6065 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u6066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u6066 {
  position:absolute;
  left:15px;
  top:14px;
  width:56px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u6067 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u6068 {
  position:absolute;
  left:181px;
  top:14px;
  width:56px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
}
#u6069 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u6070 {
  position:absolute;
  left:9px;
  top:0px;
  width:68px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6071 {
  position:absolute;
  left:175px;
  top:0px;
  width:68px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
